In [ ]:
import numpy as np  # Import NumPy for handling numerical operations
import pandas as pd  # Import Pandas for data manipulation and analysis
import warnings  # Import Warnings to suppress unnecessary warnings

# Suppress warning messages
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn
from matplotlib import rc
import os
import re
import chardet

# 데이터셋

|번호|이름|특징|
|---|---|---|
|1|응급의료기관+및+응급의료시설+현황+-+시도별,+연도별.csv|...|
|2|응급의료기관+병상+현황+-+시도별,+연도별.csv|...|
|3|응급의학전문의+및+응급의학전공의+현황+-+시도별,+연도별.csv|...|
|4|1급+응급구조사+및+2급+응급구조사+합격자+현황+-+시도별,+연도별.csv|...|
|5|응급의료기관+응급실+전담+의료진+현황+-+기관유형별,+시도별,+연도별.csv|...|
|6|전체+구급차+및+배치된+의료인력+현황+-+시도별,+연도별.csv|...|
|7|인구+백만+명당+응급의료기관+현황+-+시도별,+연도별.csv|...|
|8|행정구역_시군구_별__성별_인구수_20231208132957.xlsx|...|

In [ ]:
for i in data_set:
  print(i)

응급의료기관+및+응급의료시설+현황+-+시도별,+연도별.csv
응급의료기관+병상+현황+-+시도별,+연도별.csv
응급의학전문의+및+응급의학전공의+현황+-+시도별,+연도별.csv
1급+응급구조사+및+2급+응급구조사+합격자+현황+-+시도별,+연도별.csv
응급의료기관+응급실+전담+의료진+현황+-+기관유형별,+시도별,+연도별.csv
전체+구급차+및+배치된+의료인력+현황+-+시도별,+연도별.csv
인구+백만+명당+응급의료기관+현황+-+시도별,+연도별.csv
행정구역_시군구_별__성별_인구수_20231208132957.xlsx

In [ ]:
path_1 = '/content/drive/MyDrive/Bigdata/Data/Data_1'

os.chdir(path_1)

In [ ]:
data_set = os.listdir()

num = 0
for i in data_set:
  df = pd.read_excel(i,nrows = 1000)
  num = num + len(df)


print(num)

183

In [ ]:
def count_num_rows(number):

  num = 0
  for i in range(2018,2023):
    df = pd.read_excel(data_set[number-1])
    # print(i)
    print(df.columns)
    column_num = int(input())
    text = f"{i}년"
    # print(text)
    df_1 = df.loc[:,text:text+f".{column_num}"]
    print(len(df_1))
    num = num + len(df_1)
    return(f"총 갯수 :{num} ", number)

# 2번 데이터 셋

응급의료기관+병상+현황+-+시도별,+연도별.csv

## 총갯수 : 115

In [ ]:
df = pd.read_excel(data_set[1])
df

,No,분류,2022년,2022년.1,2022년.2,2022년.3,2022년.4,2021년,2021년.1,2021년.2,...,2019년,2019년.1,2019년.2,2019년.3,2019년.4,2018년,2018년.1,2018년.2,2018년.3,2018년.4
0,No,분류,응급의료기관 수,병상수,병상수,병상수,병상수,응급의료기관 수,병상수,병상수,...,응급의료기관 수,병상수,병상수,병상수,병상수,응급의료기관 수,병상수,병상수,병상수,병상수
1,No,분류,응급의료기관 수,계,권역응급의료센터,지역응급의료센터,지역응급의료기관,응급의료기관 수,계,권역응급의료센터,...,응급의료기관 수,계,권역응급의료센터,지역응급의료센터,지역응급의료기관,응급의료기관 수,계,권역응급의료센터,지역응급의료센터,지역응급의료기관
2,No,분류,개,개,개,개,개,개,개,개,...,개,개,개,개,개,개,개,개,개,개
3,No,분류,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,...,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료,원자료
4,1,전체,410,"7,176","1,429","3,078","2,689",405,"7,359","1,429",...,399,"7,105","1,268","3,297","2,540",401,"6,945","1,278","3,026","2,641"
5,2,서울,50,"1,164",238,735,191,50,"1,195",193,...,50,"1,252",190,823,239,48,"1,171",190,814,167
6,3,부산,28,457,40,202,215,28,473,40,...,28,479,39,183,257,28,493,66,145,282
7,4,대구,18,351,70,138,143,16,352,69,...,15,294,32,165,97,12,249,32,155,62
8,5,인천,20,350,74,151,125,19,389,73,...,20,378,72,189,117,21,369,72,164,133
9,6,광주,20,327,69,94,164,20,331,69,...,20,324,69,74,181,20,314,69,88,157
10,7,대전,9,172,71,56,45,10,189,70,...,10,208,76,73,59,10,199,76,79,44
11,8,울산,7,121,37,19,65,7,123,37,...,8,128,37,28,63,10,148,37,28,83
12,9,세종,2,37,NaN,26,11,2,36,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10,경기,73,"1,486",271,710,505,67,"1,438",287,...,63,"1,349",289,732,328,64,"1,322",277,626,419
14,11,강원,22,326,110,86,130,22,341,118,...,22,326,98,94,134,22,324,98,92,134
15,12,충북,15,247,35,104,108,15,274,43,...,16,263,43,105,115,15,248,43,60,145
16,13,충남,17,284,34,158,92,17,288,34,...,16,273,34,160,79,16,254,34,145,75
17,14,전북,20,370,87,193,90,20,386,88,...,20,332,NaN,243,89,22,357,45,173,139
18,15,전남,36,426,59,64,303,38,440,59,...,38,416,50,66,300,38,414,50,63,301
19,16,경북,31,411,87,120,204,31,435,96,...,31,425,89,123,213,32,420,81,123,216
20,17,경남,36,519,121,130,268,37,540,127,...,36,532,127,146,259,37,540,85,181,274
21,18,제주,6,128,26,92,10,6,129,26,...,6,126,23,93,10,6,123,23,90,10
22,[출처] 응급의료 통계연보\n[정의] \n- 2016년 -2019년 응급의료...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
col = df.columns
print(len(col))
print(col)

27
Index(['No', '분류', '2022년', '2022년.1', '2022년.2', '2022년.3', '2022년.4',
       '2021년', '2021년.1', '2021년.2', '2021년.3', '2021년.4', '2020년', '2020년.1',
       '2020년.2', '2020년.3', '2020년.4', '2019년', '2019년.1', '2019년.2',
       '2019년.3', '2019년.4', '2018년', '2018년.1', '2018년.2', '2018년.3',
       '2018년.4'],
      dtype='object')

In [ ]:
num2 = 0
for i in range(2018,2023):
  # print(i)
  text = f"{i}년"
  # print(text)
  df_1 = df.loc[:,text:text+".4"]

  print(len(df_1))
  num2 = num2 + len(df_1)


print(num2)

23
23
23
23
23
115

# 3번 데이터셋

이름 : 	응급의학전문의+및+응급의학전공의+현황+-+시도별,+연도별.csv

## 총: 115개

In [ ]:
df = pd.read_excel(data_set[2])
print(len(df.columns))

42

In [ ]:
num3 = 0
for i in range(2018,2023):
  # print(i)
  text = f"{i}년"
  # print(text)
  df_1 = df.loc[:,text:text+".7"]
  print(len(df_1))
  num3 = num3 + len(df_1)
print("총 갯수 : ", num3)

23
23
23
23
23
총 갯수 :  115

# 4번 데이터셋

이름 : 1급+응급구조사+및+2급+응급구조사+합격자+현황+-+시도별,+연도별.csv

## 총 : 115

In [ ]:
df =pd.read_excel(data_set[3])
print(len(df.columns))

42

In [ ]:
num4 = 0
for i in range(2018,2023):
  # print(i)
  text = f"{i}년"
  # print(text)
  df_1 = df.loc[:,text:text+".7"]
  print(len(df_1))
  num4 = num4 + len(df_1)
print("총 갯수 : ", num4)

23
23
23
23
23
총 갯수 :  115

# 5번 데이터셋

## 총 ; 135

In [ ]:
df =pd.read_excel(data_set[4])
print(len(df.columns))

28

In [ ]:
num5 = 0
for i in range(2018,2023):
  # print(i)
  text = f"{i}년"
  # print(text)
  df_1 = df.loc[:,text:text+".4"]
  print(len(df_1))
  num5 = num5 + len(df_1)
print("총 갯수 : ", num5)

27
27
27
27
27
총 갯수 :  135

# 6번데이터셋

## 전체+구급차+및+배치된+의료인력+현황+-+시도별,+연도별.csv

115개

In [ ]:
print(data_set[5])

전체+구급차+및+배치된+의료인력+현황+-+시도별,+연도별.csv

In [ ]:
df =pd.read_excel(data_set[5])
print(len(df.columns))

42

In [ ]:
num6 = 0
for i in range(2018,2023):
  # print(i)
  text = f"{i}년"
  # print(text)
  df_1 = df.loc[:,text:text+".7"]
  print(len(df_1))
  num6 = num6 + len(df_1)
print("총 갯수 : ", num6)

23
23
23
23
23
총 갯수 :  115

# 7번데이터셋
## 인구+백만+명당+응급의료기관+현황+-+시도별,+연도별.csv

총 : 105

In [ ]:
print(data_set[6])

인구+백만+명당+응급의료기관+현황+-+시도별,+연도별.csv

In [ ]:
df =pd.read_excel(data_set[6])
print(len(df.columns))

32

In [ ]:
num7 = 0
for i in range(2018,2023):
  # print(i)
  text = f"{i}년"
  # print(text)
  df_1 = df.loc[:,text:text+".5"]
  print(len(df_1))
  num7 = num7 + len(df_1)
print("총 갯수 : ", num7)

21
21
21
21
21
총 갯수 :  105

# 8번 데이터셋
## 행정구역_시군구_별__성별_인구수_20231208132957.xlsx
총 :

In [ ]:
print(data_set[7])

행정구역_시군구_별__성별_인구수_20231208132957.xlsx

In [ ]:
df =pd.read_excel(data_set[7])
print(df.columns)

Index(['행정구역(시군구)별', '2020.01', '2020.01.1', '2020.01.2', '2020.02',
       '2020.02.1', '2020.02.2', '2020.03', '2020.03.1', '2020.03.2',
       '2020.04', '2020.04.1', '2020.04.2', '2020.05', '2020.05.1',
       '2020.05.2', '2020.06', '2020.06.1', '2020.06.2', '2020.07',
       '2020.07.1', '2020.07.2', '2020.08', '2020.08.1', '2020.08.2',
       '2020.09', '2020.09.1', '2020.09.2', '2020.10', '2020.10.1',
       '2020.10.2', '2020.11', '2020.11.1', '2020.11.2', '2020.12',
       '2020.12.1', '2020.12.2', '2022.01', '2022.01.1', '2022.01.2'],
      dtype='object')

In [ ]:
print(num2 + num3+num4+num5+num6+num7)

700

In [ ]:
print(2185 + 2850 +1815)

6850